.teams {
    display: "flex";
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 12px;
}

.team-form input {
    border: 1px solid;
    width: auto;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    margin: 30px;
}